.book {
    height: 100vh;
    background: url(../../image/book.png) center center / cover no-repeat;
    padding: 20px 0 50px 0;
    overflow: hidden;
    &__button {
        text-align: center;
    }
}